---
import BaseLayout from '@layouts/BaseLayout.astro'

import { BaseCol } from '@layout/base-col'

import { DocCrumb } from './doc-crumb'

import type { DocNode } from '@/lib/docs'
import { TableOfContents } from '../toc'
import { DocDrawer } from './doc-drawer'
import { DocTreeNode } from './doc-tree-node'
import { TocMenu } from './toc-menu'

interface Props {
  rootNode: DocNode
  node: DocNode
  slug: string[]
}

const { node, rootNode, slug } = Astro.props

//const filePath = `/${path.join('/')}`

// const stack = topicTree.children.toReversed().map(t => ({ level: 0, tree: t }))

// const flatTree = []

// while (stack.length > 0) {
//   const { level, tree } = stack.pop()!

//   flatTree.push({ name: tree.name, level })

//   for (const t of tree.children.toReversed()) {
//     stack.push({ level: level + 1, tree: t })
//   }
// }

// for this path, find the topic children

// if (node.fullPath.length > 0) {
//   let tm = topicTree

//   for (const p of node.fullPath) {
//     tm = tm.children.find((t) => t.title === p)!
//     pathChildren.push(tm.children)
//   }
// } else {
//   pathChildren.push(topicTree.children)
// }
---

<BaseLayout title={node.title} bg="bg-white">
  <DocDrawer
    node={rootNode}
    slug={slug}
    client:only="react"
    slot="small-header-left"
  />

  <TocMenu slot="small-header-bottom" client:only="react" />

  <Fragment slot="main">
    <aside
      class="fixed top-20 bottom-25 left-[1%] hidden w-1/5 overflow-x-hidden overflow-y-auto lg:block xl:left-[10%] xl:w-1/6"
    >
      <DocTreeNode
        node={rootNode}
        slug={slug}
        client:only="react"
        className="text-sm"
      />
    </aside>

    <BaseCol
      className="mx-auto mt-8 min-h-screen w-9/10 gap-y-8 lg:w-1/2 xl:w-2/5"
    >
      <DocCrumb slug={slug} />

      <h1 class="text-xl font-bold">{node.title}</h1>

      <ol class="flex grid shrink-0 grid-cols-2 gap-8 text-sm">
        {
          node.children.map((c) => {
            return (
              <li>
                <a
                  href={`/docs/${c.slug.join('/')}`}
                  class="border-border rounded-theme flex h-full flex-col gap-y-1 border p-8 transition-shadow duration-300 ease-in-out hover:shadow-sm"
                >
                  <span class="font-semibold">{c.title}</span>

                  <span class="text-foreground/70 text-sm">
                    {c.description}
                  </span>
                </a>
              </li>
            )
          })
        }
      </ol>
    </BaseCol>

    <aside
      class="fixed top-20 right-[1%] bottom-25 hidden w-1/5 overflow-x-hidden overflow-y-auto lg:block xl:right-[10%] xl:w-1/6"
    >
      <TableOfContents title="On This Page" client:only="react" />
    </aside>
  </Fragment>
</BaseLayout>
