---
import BaseLayout from '@layouts/BaseLayout.astro'

import { BaseCol } from '@layout/base-col'

import { ThemeLink } from '@components/link/theme-link'

import { VScrollPanel } from '../v-scroll-panel'
import { DocCrumb } from './doc-crumb'

import type { DocNode } from '@/lib/docs'

interface Props {
  node: DocNode
  topicTree: DocNode
}

const { node, topicTree } = Astro.props

//const filePath = `/${path.join('/')}`

// const stack = topicTree.children.toReversed().map(t => ({ level: 0, tree: t }))

// const flatTree = []

// while (stack.length > 0) {
//   const { level, tree } = stack.pop()!

//   flatTree.push({ name: tree.name, level })

//   for (const t of tree.children.toReversed()) {
//     stack.push({ level: level + 1, tree: t })
//   }
// }

// for this path, find the topic children

const pathChildren: DocNode[][] = []

// if (node.fullPath.length > 0) {
//   let tm = topicTree

//   for (const p of node.fullPath) {
//     tm = tm.children.find((t) => t.title === p)!
//     pathChildren.push(tm.children)
//   }
// } else {
//   pathChildren.push(topicTree.children)
// }
---

<BaseLayout title={node.title} bg="bg-white">
  <article
    class="flex h-screen flex-col gap-x-8 gap-y-3 lg:grid lg:grid-cols-4"
    slot="main"
  >
    <BaseCol className="px-1">
      <VScrollPanel className="hidden lg:flex lg:grow">
        <BaseCol className="hidden justify-start gap-y-4 py-4 text-xs lg:flex">
          <ul>
            <!-- {
              topicTree.children.map((t) => {
                return (
                  <HelpTreeNode
                    node={t}
                    currentNode={node}
                    level={0}
                    client:only="react"
                  />
                )
              })
            } -->
          </ul>
        </BaseCol>
      </VScrollPanel>
    </BaseCol>

    <VScrollPanel
      className="grow gap-y-4 pt-2 lg:col-span-3"
      innerClassName="gap-y-4"
    >
      <DocCrumb node={node} pathChildren={pathChildren} client:only="react" />

      <h1 class="text-xl font-bold">{node.title}</h1>

      <ol class="flex shrink-0 flex-col gap-y-0.5 text-sm md:gap-y-8 lg:pr-8">
        {
          pathChildren[pathChildren.length - 1]!.map((c) => {
            return (
              <li class="border-border flex flex-col gap-y-1 border-b pb-8">
                <ThemeLink
                  href={c.slug.join('/')}
                  className="font-bold text-base"
                >
                  {c.title}
                </ThemeLink>
                <p class="text-foreground/70 text-sm">{c.description}</p>
              </li>
            )
          })
        }
      </ol>
    </VScrollPanel>
  </article>
</BaseLayout>
