---
import { BaseCol } from '@/components/layout/base-col'
import { COPYRIGHT, PRODUCT_NAME } from '@/consts'
import BaseLayout from '@/layouts/BaseLayout.astro'
import version from '../../version.json'
---

<BaseLayout title={`About ${PRODUCT_NAME}`}>
  <BaseCol slot="main" className="mx-auto my-8 w-3/5">
    <span class="font-bold">{PRODUCT_NAME}</span>
    <span>Version: {version.version}</span>
    <span>Updated: {version.updated}</span>
    <span>
      &copy; {new Date().getFullYear()} {COPYRIGHT}. All rights reserved.</span
    >
  </BaseCol>
</BaseLayout>
